.ContactConfirm {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #3d3d3d;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
}

#background_bulkorder {
    background-image: url("../SiteImg/background_bulkorder.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

#background_bobaarmy {
    background-image: url("../SiteImg/background_bobaarmy.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}